apiVersion: v1
kind: Secret
metadata:
  name: resolv-secrets
  namespace: resolv
type: Opaque
stringData:
  # Fill these in before deploying and save as secrets.yaml
  GITHUB_APP_ID: ""
  GITHUB_WEBHOOK_SECRET: ""
  # The entire contents of the private key PEM file
  GITHUB_PRIVATE_KEY_PATH: "/app/resolv-triage-bot.pem"
  GITHUB_PRIVATE_KEY_CONTENT: |
    -----BEGIN RSA PRIVATE KEY-----
    ...
    -----END RSA PRIVATE KEY-----
